.todo-item {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;

  p {
    transition: 0.4s;
    color: #0d3770;
    font-size: 16px;
    padding-left: 3px;
  }

  &__buttons {
    display: flex;
    gap: 15px;
  }

  img {
    width: 20px;
    height: 20px;
  }

  button {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: 0.4s;

    &:hover {
      transition: 0.4s;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.052), 0 5px 5px rgba(0, 0, 0, 0.052);
    }
  }

  &-edit {
    width: 30px;
    height: 30px;
    display: flex;
    background: #337ab7;
    align-items: center;
    justify-content: center;
  }

  &-delete {
    width: 30px;
    height: 30px;
    display: flex;
    background-color: #a92929e6;
    align-items: center;
    justify-content: center;
  }

  .check {
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-radius: 8px;
    cursor: pointer;

    img {
      transition: 0.4s;
      opacity: 0;
      padding-top: 1px;
      pointer-events: none;
    }
  }

  &__edit-input {
    width: 226px;
    border-radius: 6px;
    padding: 6px;
    border: 1px solid gray;
  }

  &__save {
    width: 51px;
    height: 27px;
    display: flex;
    background: #33b754;
    align-items: center;
    color: white;
    justify-content: center;
  }
}

.compete-task {
  &--text {
    transition: 0.4s !important;
    color: #314e7497 !important;
  }

  &--box {
    pointer-events: all !important;
    opacity: 1 !important;
    transition: 0.4s;
  }
}
